<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">
<!-- partial:partials/html-head.hbs -->
<!-- partial -->

<body>
  <table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" valign="top">
        <table class="w-100 mw6-5 mv4-ns bg-white" width="100%" align="center" border="0" cellpadding="0"
          cellspacing="0">

          <!-- Header -->
          <!-- partial:partials/header.hbs -->
          <!-- partial -->

          <!-- Order track Image-->
          <tr>
            <td class="pa4" style="display: flex;justify-content: center;">
              <img class="w-100"
                src="https://acctglobal.vteximg.com.br/arquivos/ids/181528/gm-itens-a-caminho-hering.png"
                style="width: 453px;height: 54px; margin:auto" />
            </td>
          </tr>

          <!-- Intro message -->
          <tr>
            <td class="intro-messege" style="font-weight: normal;font-size: 12px;line-height: 16px; color: #000000;
          padding-left: 98px;padding-right: 92px;">
              <p class="pb2">((i18n.shipping.shippingProduct))
                <!-- partial:partials/messages/hi.hbs -->
                <!-- partial -->
                :)
              </p><br>
              <p class="pb2">((i18n.shipping.onePackageDelivery))</p>
              <p>((i18n.order.yourOrder))  ((i18n.shipping.deliveryInProgress))</p>
            </td>
          </tr>
          <!-- partial:partials/order-summary.hbs -->
          <!-- partial -->
          <tr>
            <td class="tc pa4" style="padding:0px;">
              <button class="access-order-button" style="border: none;   
                display:flex; justify-content:left; margin-left:88px; margin-bottom:50.5px; ">
                <a style="height:22px;font-weight:400;font-size:16px;color:#000;text-decoration:underline">
                  ((i18n.order.accessOrder))
                </a>
              </button>
            </td>
          </tr>
          <!-- partial:partials/footer.hbs -->
          <!-- partial -->
    </tr>
  </table>
  </td>
  </tr>
  </table>
</body>

</html>