<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">
<!-- partial:partials/html-head.hbs -->
<!-- partial -->


<body>
  <table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0" style="max-width: 640px">
    <tr>
      <!-- Header -->
      <!-- partial:partials/header.hbs -->
      <!-- partial -->
    </tr>
    <tr>
      <td class="pa4" style="display: flex;justify-content: center;">
        <img class="w-100" src="https://acctglobal.vteximg.com.br/arquivos/ids/181523/gm-entregue-hering.png"
          style="width: 453px;height: 54px; margin:auto" />
      </td>
      <!-- Intro message -->
    <tr>
      <td class="ph4 pt4 lh-copy" style="padding: 0;">
        <p class="intro-messege" style="font-weight: normal;font-size: 12px;line-height: 16px; color: #000000;
          padding-left: 98px;padding-right: 92px;">((i18n.shipping.deliveredTitle))</p><br>
        <p class="intro-messege" style="font-weight: normal;font-size: 12px;line-height: 16px; color: #000000;
          padding-left: 98px;padding-right: 92px;">((i18n.order.title)) {{clientProfileData.firstName}},</p><br>
        <p class="intro-messege" style="font-weight: normal;font-size: 12px;line-height: 16px; color: #000000;
          padding-left: 98px;padding-right: 92px;">((i18n.shipping.deliveredDescription))</p>
        <p class="intro-messege" style="font-weight: normal;font-size: 12px;line-height: 16px; color: #000000;
          padding-left: 98px;padding-right: 92px;"> ((i18n.shipping.deliveredProduct))</p>
      </td>
    </tr>
    <td class="w-100 ph4 lh-copy">
      <!-- partial:partials/order-summary.hbs -->
      <!-- partial -->

    </td>
    </tr>
    
    <tr class="w-100 ph4-ns mw6">
      <!-- partial:partials/footer.hbs -->
      <!-- partial -->
    </tr>

  </table>

</body>

</html>