@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/static/Nunito-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/static/Nunito-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/static/Nunito-Medium.ttf');
  font-weight: 300;
}
