<tr class="w-100 mw6">
  <td class="pt3" style="padding: 0px;">

    <table class="footer w100">
      {{#eq shippingData.address.city  "Atibaia"}} 
      <img
            class="bandeira"
            src="https://acctglobal.vteximg.com.br/arquivos/ids/181543/gm-bandeira-atibaia.png"
            alt="bandeira-atibaia"
            style="width: 50%; display:flex; margin:0 auto 35px"/>
      {{/eq}}
    </table>

    <table class="footer-row-1 footer">
      <tr style="display: flex; justify-content:center; background-color:#fff">
        <td style="background-color: #fff;">
          <img
            class="pl3"
            src="https://acctglobal.vteximg.com.br/arquivos/ids/181526/gm-frame-footer-hering.png"
            alt=""/>
        </td>
      </tr>
    </table>
    <table class="footer w100">
      {{#eq clientProfileData.document  "12685549013"}} 
      <img
            class="pl3"
            src="https://acctglobal.vteximg.com.br/arquivos/ids/181542/gm-gatinhos.png"
            alt=""/>
      {{/eq}}
    </table>

    <table class="footer-row-2 footer">
      <tr style="display: flex;justify-content:center; background-color:#fff; ">
        <td class="white-90 pl3" >
          <p class="f4 b" style="margin-bottom:0px;text-align:center; color: #ADADAF; font-size:12px; font-weight:400; 
          font-family:Arial, Helvetica, sans-serif;line-height:13,8px">
            Tem alguma dúvida sobre o seu pedido? Entre em contato conosco através do nosso</p>
          <p class="f4 b" style="margin:0px;text-align:center;color: #ADADAF; font-size:12px; font-weight:400; 
          font-family:Arial, Helvetica, sans-serif;line-height:13,8px">
            Serviço de Atendimento ao Consumidor - SAC pelo e-mail 
            <a style="color: #000; font-size:12px; font-weight:400; font-family:Arial, Helvetica, sans-serif; line-height:13,8px;">
              Clicando aqui</a> ou pelo telefone</p>
          <p class="f4 b" style="margin:0px;color: #ADADAF; font-size:12px; font-weight:400; font-family:Arial, Helvetica, sans-serif;line-height:13,8px">
            0800 747 3114, de segunda à sexta-feira, das 8h às 18h</p>
          <p style="margin-bottom:0px;color: #ADADAF;font-size:12px; font-weight:400; font-family:Arial, Helvetica, sans-serif;line-height:13,8px">
            Prefere conversar pelo chat? <a style="color: #000; font-size:12px; font-weight:400; font-family:Arial, Helvetica, sans-serif; line-height:13,8px;">Clique aqui</a>, 
            de segunda à sexta-feira, das 8h às 22h ou no</p>
          <p style="margin:0px;text-align:center;color: #ADADAF; font-size:12px; font-weight:400; 
          font-family:Arial, Helvetica, sans-serif;line-height:13,8px">sábado, das 9h30 às 13h.</p>
          <p style="color: #ADADAF;font-size:12px; font-weight:400; font-family:Arial, Helvetica, sans-serif;line-height:13,8px">
            Dúvidas sobre alteração de senha? <a style="color: #000; font-size:12px; font-weight:400; font-family:Arial, Helvetica, sans-serif; line-height:13,8px;">Clique aqui!</a></p>
          <p style="color: #ADADAF;font-size:12px; font-weight:400; font-family:Arial, Helvetica, sans-serif;line-height:13,8px">
            Esta é uma mensagem automática. Por favor não responda. </p>
        
      </tr>
    </table>
    
    <table class="footer-row-3 footer">
      <tr class="footer" style="background-color: #fff;">
        <td>
          <p class="endereco" style="margin:0px 0px 35px;text-align:center;color: #ADADAF; font-size:12px; font-weight:400; 
          font-family:Arial, Helvetica, sans-serif;line-height:13,8px">
            Rua Hermann Hering, 1790, Bom Retiro, Blumenal/SC 
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>