<tr class="w-100">
  <td>
    <table>
       <tr>     

      {{#eq orders.0.clientProfileData.lastName  "Priolli"}} 
      <td style="background-color: #00ff0d; height:25px; width:640px;"></td>
      {{/eq}}
      
    </tr>
    </table>
    <table>
       <tr>        

      {{#eq clientProfileData.lastName  "Priolli"}} 
      <td style="background-color: #00ff0d; height:25px; width:640px;"></td>
      {{/eq}}
      
    </tr>
    </table>
    
    <table>
     
      <tr>
        <p class="topo" style="display: flex; justify-content:center; height: 16px;  color: #FE0000; font-weight: 400;
                  font-size: 12px; line-height: 16px;margin:19px 260px 15px;">Vem conferir!</p>
      </tr>

      <hr class="linha" style="width: 472px;border: 1px solid #C4C4C4;">

    </table>
    <table>
      <tr>
      <td>
        <p
          style="display:flex; margin-left:85px;margin-top:10px; width: 86px;height: 15px;font-size: 11px;line-height: 15px;">
          Visualize na Web</p>
      </td>
      <td>

      </td>
      <td>
        <p
          style="display:flex; margin-left:267px; margin-top:10px; width: 118px;height: 15px;font-size: 11px;line-height: 15px;">
          Cancele o recebimento</p>
      </td>
      </tr>
    </table>
    <table class="header w100">
      <tr>
        <td class="tc">
          <img style="margin: 32px 0px 21.58px"
            src="https://acctglobal.vteximg.com.br/arquivos/ids/181529/gm-logo-hering.png" />
        </td>
      </tr>
    </table>


    <table class="header w100">
      <td>
        <p
          style="margin-left:60px;font-weight: 600;font-size: 12px;line-height: 16px;text-align: center;letter-spacing: 0.1em;text-transform: uppercase;color: #848487;">
          FEMININO</p>
      </td>
      <td>
        <p
          style="font-weight: 600;font-size: 12px;line-height: 16px;text-align: center;letter-spacing: 0.1em;text-transform: uppercase;color: #848487;">
          MASCULINO</p>
      </td>
      <td>
        <p
          style="font-weight: 600;font-size: 12px;line-height: 16px;text-align: center;letter-spacing: 0.1em;text-transform: uppercase;color: #848487;">
          INFANTIL</p>
      </td>
      <td>
        <p
          style="margin-right:60px; font-weight: 600;font-size: 12px;line-height: 16px;text-align: center;letter-spacing: 0.1em;text-transform: uppercase;color: #848487;">
          BEBÊ</p>
      </td>      
    </table>    
    <table>
      <hr class="linha" style="width: 472px; border: 1px solid #C4C4C4; ">
    </table>
  

  </td>
</tr>